

    <body>
    
    <table style="width:100%">
    <tr>
    <th style="font-size:120%;">Hamburguesas artesanales </th>
    <th style="font-size:120%;">Precios </th>
    <hr>
    </tr>

    <tr>
    <b><td style="font-family:Lucida Sans;">A la madrina </td></b>
    </tr>
    <tr>
   <i><td>Carne rellena de pepperoni y queso mozzarella, toppings de rucula, tomates cherry, salsa de pizza, crunchy bacon, queso Parmesano y guarnición </td></i>
    <td>RD$300.00</td>
    </tr>
    </table>

    <br>

    <table style="width:100%">
    <tr>
    <b><td style="font-family:Lucida Sans;">Cheesus </td></b>
    </tr>
    <tr>
    <i><td>Carne rellena de 3 quesos, topping de queso mozzarella, salsa de queso y chorizo, crunchy bacon, puerro y guarnición </td></i>
    <td>RD$250.00</td>
    </tr>
    </table>

    <br>

    <table style="width:100%">
    <tr>
    <b><td style="font-family:Lucida Sans;">Kevin bacon </td></b>
    </tr>
    <tr>
    <i><td>Carne mezclada de tocinera ahumada y topping de rucula, cebolla a la plancha, queso americano, crunchy bacon, mayonesa casera y guarnición </td></i>
    <td>RD$300.00</td>
    </tr>
    </table>

    <br>

    <table style="width:100%">
        <tr>
        <b><td style="font-family:Lucida Sans;">Nicolas maduro   </td></b>
        </tr>
        <tr>
        <i><td>Carne rellena de platano maduro caramelizado y queso de hoja, toppings de recula, salsa de queso cheddar, bacon y guarnición </td></i>
        <td>RD$300.00</td>
        </tr>
        </table>

        <br>

    <table style="width:100%">
            <tr>
            <b><td style="font-family:Lucida Sans;">Tocinon   </td></b>
            </tr>
            <tr>
            <i><td>Carne rellena de tocineta y queso mozzarella, toppings de queso americano, crunchy bacon, salsa a base de hongos, vino, tocineta y guarnición </td></i>
            <td>RD$300.00</td>
            </tr>
            </table>

            <br>

            <table style="width:100%">
                <tr>
                <b><td style="font-family:Lucida Sans;"> Tradicional </td></b>
                </tr>
                <tr>
                <i><td>Toppings de queso americano , lechuga, tomate, cebolla, crunchy bacon y guarnición  </td></i>
                <td>RD$250.00</td>
                </tr>
                </table>

<br>
<br>

<table style="width:100%">
    <tr>
    <th style="font-size:120%;">Otras chulerías  </th>
    <th style="font-size:120%;">Precios </th>
    </tr>

    <tr>
    <b><td style="font-family:Lucida Sans;">Filo steak  </td></b>
    </tr>
    <tr>
    <i><td>Philly cheesestake con pan de agua, ajíes y cebolla a la plancha, carne salada, boston setas, 3 quesos y revestidos en fondue de queso vincent  </td></i>
    <td>RD$300.00</td>
    </tr>
    </table>

    <br>

            <table style="width:100%">
                <tr>
                <b><td style="font-family:Lucida Sans;"> Perro caliente  </td></b>
                </tr>
                <tr>
                <i><td>Hot dog con pan de mantequilla, longaniza artesanal, chimichurri, salsa de queso cheddar, tocineta triturada y queso partisano  </td></i>
                <td>RD$200.00</td>
                </tr>
                </table>
                
                <br>

                <table style="width:100%">
                    <tr>
                   <b><td style="font-family:Lucida Sans;"> Helados (Leche o Agua)  </td></b>
                    </tr>
                    <tr>
                    <i><td>Pregunta por los sabores disponibles.  </td></i>
                    </tr>
                    </table>

                    <br>
                    <br>

                    <table style="width:100%">
                        <tr>
                        <th style="font-size:120%;">Pa’ picar   </th>
                        <th style="font-size:120%;">Precios </th>
                        </tr>
                        <tr>

                        <b><td style="font-family:Lucida Sans;">Ahijaditos   </td></b>
                        </tr>
                        <tr>
                        <i><td>Tiernas pechurinas de pollo acompañadas de hoye mustard  </td></i>
                        <td>RD$200.00</td>
                        </tr>
                        </table>

                       <br>

            <table style="width:100%">
                <tr>
                <b><td style="font-family:Lucida Sans;"> Papas salvajes  </td></b>
                </tr>
                <tr>
                <i><td>Papas fritas bañadas en salsa de queso y chorizo triufado con toppings de crunchy bacon y puerrito </td></i>
                <td>RD$200.00</td>
                </tr>
                </table>
                
                <br>

                <table style="width:100%">
                    <tr>
                    <b><td style="font-family:Lucida Sans;"> Salchichon  </td></b>
                    </tr>
                    <tr>
                    <i><td>Jugosa longaniza artesanal acompañada de nuestra rica cilantro mayo </td></i>
                    <td>RD$150.00</td>
                    </tr>
                    </table>

                    <br>
                    
                <table style="width:100%">
                    <tr>
                    <b><td style="font-family:Lucida Sans;"> Sliders   </td></b>
                    </tr>
                    <tr>
                    <i><td>Combinación de dos de nuestras hamburguesas en tamaño miniatura  </td></i>
                    <td>RD$200.00</td>
                    </tr>
                    </table>

    </body>
=======
=======

<table style="width:100%"> 
<td><img src="../assets/hamburguesa.jpg" width="250px" height="250px" > 


<header><h1>Sion Madrina Restaurant</h1>
  <img src="../assets/sionmadrina.jpeg" width="150px" height="150px">
</header>
<footer>
  <h4> Phone Number: (809)-749-1850;  Address: Frente a Lumijor, Av. Rafael Vidal, Santiago De Los Caballeros 51000; Schedule: Monday 5-11PM & Tuesday-Sunday 12-11PM</h4> 
</footer>



<body style="background-color:#FFB53D">
<img src="../assets/hamburguesa.jpg" width="250px" height="250px"> 

<br>
Kevin Bacon
</td>
<td><img src="../assets/hamburguesa2.jpg" width="250px" height="250px"> 
    <br>
Cheesus
</td>
<td><img src="../assets/hamburguesa3.jpg" width="250px" height="250px"> 
    <br>
Tradicional

</td>
</table>

</body>




